
<ul class="list-group" *ngIf="todos.length > 0">
    <li class="list-group-item" *ngFor="let todo of todos">
      <strong>{{todo.todoItem}}</strong>
      <span class="float-right">
        <button class="btn alert-primary btn-primary mr-3"><strong>Edit</strong></button>
        <button class="btn alert-danger btn-danger" (click)="onDelete(todo.id)"><strong>Delete</strong></button>
      </span>
    </li>
</ul>

<p *ngIf="todos.length === 0" class="alert alert-danger">No Todo Item found !!!</p>
