<h2 class="p-3 text-center alert-primary">ng-Services</h2>
<div class="container">
    <h3 class="p-4 mb-4 text-center bg-warning">TodoItem</h3>
    <div class="row">
        <div class="col-md-6">
            <app-todo-form></app-todo-form>
        </div>
        <div class="col-md-6 mt-4">
            <app-todo-list></app-todo-list>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <h3 class="p-4 mb-4 text-center bg-warning">Students Info</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <app-std-form></app-std-form>
        </div>
        <div class="col-md-6">
            <app-std-table></app-std-table>
        </div>
    </div>
</div>

