

<div class="card alert-dark">
    <h2 class="p-3 text-center">Student Form</h2>
    <div class="card-body">
        <form [formGroup]="stdForm" (ngSubmit)="onAddStd()">
            <div class="form-group">
                <label for="fname" class="sr-only">First Name</label>
                <input type="text" formControlName="fname" id="fname" class="form-control" placeholder="Enter your first name...">
            </div>
            <div class="form-group">
                <label for="lname" class="sr-only">Last Name</label>
                <input type="text" formControlName="lname"  id="lname" class="form-control" placeholder="Enter your last name...">
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="text" formControlName="email"  id="email" class="form-control" placeholder="Enter your email...">
            </div>
            <div class="form-group">
                <label for="contact" class="sr-only">Contact</label>
                <input type="text" formControlName="contact" id="contact" class="form-control" placeholder="Enter your contact...">
            </div>
            <div class="text-right">
                <button class="btn alert-info btn-info"><strong>Add Student</strong></button>
            </div>
        </form>
    </div>
</div>
