.card{
    border: 2px solid;
}

.form-control.ng-touched.ng-invalid,
.form-control.ng-dirty.ng-invalid{
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid{
    border: 2px solid lime;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important; 
}

