<div class="table-responsive">
    <table class="table table-bordered" *ngIf="studentArr.length > 0 else std">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of studentArr; let i = index">
                <td>{{i + 1}}</td>
                <td>{{std.fname}}</td>
                <td>{{std.lname}}</td>
                <td>{{std.email}}</td>
                <td>{{std.contact}}</td>
                <td>
                    <button class="btn alert-danger btn-danger" (click)="onDelete(std.id)"><strong>Delete</strong></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #std>
    <p class="p-3 alert-danger">No student found !!!</p>
</ng-template>